<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSHomeKitUsageDescription</key>
	<string>This app needs access to your HomeKit devices to import them and help you manage their passwords securely.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera to take photos of passwords and barcodes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to attach images to your passwords.</string>
</dict>
</plist>
